@media screen and (max-width:1024px){
    div#main {
        display: flex;
        justify-content: space-between;
        flex-flow: column;
        align-items: flex-start;
        width: 100%;
    }
    #main, #side_bar{
        background-color: white !important;
    }
    textarea#insert_message {
        height: 85%;
        width: 70%;
        border-radius: 8px;
    }
    .humberger {
        height: 0.4vw;
        width: 0.5vw;
        font-size: 1.5vw;
    }
    #scrollButton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12vw;
        height: 12vw;
        background-color: aqua;
        border-radius: 100%;
    }
    .scroll{
        font-size: 25px;
        color: #fff;
        position: absolute;
        width: 25px;
        height: 25px;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        text-align: center;
    }
    div#scrollArea {
        position: absolute;
        right: 0px;
        bottom: 100%;
        margin: 0vw 2vw 1vw 0vw;
    }
    img.resetSubmit {
        width: 7vw;
        height: 7vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        margin-left: 1vw;
        position: relative;
        top: 0.4vw;
    }
    img#img_box {
        width: 100%;
        height: 100%;
        position: relative;
        top: 0.8vw;
    }
    div#option_list {
        position: absolute;
        bottom: 5vw;
        width: 7vw;
        height: 8vw;
        /* border: solid 1px black; */
        box-shadow: 0.5vw 0.5vw #00000059;
        background-color: #bba1eb;
        border-radius: 5px;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
            visibility: hidden;
    }       
    span.parts_class {
        width: 100%;
        height: 1.5vw;
        margin-left: 0.5vw;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    img.list_parts {
        width: 1.5vw;
        height: 1.5vw;
        margin-right: 9px;
        /* FONT-VARIANT: JIS83; */
        display: block;
    }
    ul#logs_area {
        width: 100%;
        height: auto;
        margin: 0px;
        padding: 0vw;
        box-sizing: border-box;
        padding-bottom: 26vw;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
    }
     li.log {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        width: 100%;
        height: auto;
        padding: 0vw 0vw 1vw 1vw;
        box-sizing: border-box;
        margin-bottom: 4vw;
    }
    .message_right {
        margin-right: 1vw;
        position: relative;
        top: 0.5vw;
        width: 10vw;
        height: 10vw;
    }
    img.icon {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0.6vw;
    }
    .message_container {
        background-color: #04ff046b;
        border-radius: 2vw;
        padding: 2vw;
    }
    .message:after{
        content: '';
        border: solid 100% 100% 0px 0px black;
        width: 2vw;
        height: 2vw;
    }
    .message_left {
        overflow-wrap: break-word;
        max-width: 90%;
    }
    div#container {
        width: 96%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: column;
        border-bottom: dotted 3px rgba(0, 0, 0, 0.18);
        padding-bottom: 4vw;
    }
 
     /*start------------------------------------------------------*/

    #xtitle {
        width: 80%;
        height: auto;
        font-size: 4vw;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: column;
    }
    #roomname {
        width: 100%;
        font-size: 5vw;
        height: 14vw;
        overflow-wrap: break-word;
    }
    #xtitle_bottom {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
    #good_container {
        max-width: 20vw;
        height: 100%;
        margin-left: 1vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: orange;
        padding: 0px 6px;
        border-radius: 3px;
    }
    img.message_good {
        width: 4vw;
        height: 4vw;
        margin-left: 1vw;
    }
    .iine_num {
        box-sizing: border-box;
        width: 6vw;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 4vw;
    }
    #category {
        width: auto;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        font-size: 3vw;
    }

     /*start------------------------------------------------------*/
    div#roomtitle {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: column;
        font-size: 1vw;
        position: relative;
        box-sizing: border-box;
        font-size: 5vw;
        margin-top: 6vw;
    }
    .second_parts {
        width: 80%;
        height: 34vw;
        overflow-wrap: break-word;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.66);
    }
    /*ここは縦横のアスペクト比をjsで検知して調整しなければならない*/
    img#roomImg {
        width: auto;
        height: 34vw;
    }
    
    /*start------------------------------------------------------*/
    div#second_stage {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
    }
    div#exitArea {
        width: 100%;
        height: 9vw;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 3vw;
    }
    div#consolation {
        justify-content: flex-start !important;
        padding: 4vw;
        background-color: #a4ffff;
        margin: 3vw;
        border-radius: 7px;
        height: auto;
        align-items: flex-start !important;
        box-sizing: border-box;
        font-size: 4vw;
        overflow-wrap: anywhere;
    }
    a#exitButton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 14vw;
        height: 100%;
        background-color: #5aaced;
        opacity: 0.7;
        border-radius: 5px;
    }
    /*start------------------------------------------------------*/
    #img_container {
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        justify-content: flex-start;
        flex-flow: column;
        align-items: center;
        z-index: 3;
    }
    div#option_box {
        width: 7vw;
        height: 7vw;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: column;
        margin-right: 1vw;
    }
    #send_message {
        width: 100%;
        height: 9%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0px;
        position: fixed;
        bottom: 0;
        background-color: #808080ff;
        z-index: 1;
    }
    div#explanation {
        height: 12%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.44);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4vw;
    }
    input#file_img {
        display: none;
    }
    div#img_middle {
        width: 100%;
        height: 60vw;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: nowrap;
        margin-top: 30vw;
        margin-bottom: 4vw;
        box-sizing: border-box;
        position: relative;
        background-color: #787878;
    }

    img#img_top {
        width: auto;
        height: 80%;
    }
    div#img_bottom {
        width: 100%;
        height: 15vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: 0px 4vw;
        position: relative;
        top: 20vw;
    }
    label#img_label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 20%;
        background-color: #00000091;
        position: absolute;
        bottom: 0%;
        left: 0%;
        color: white;
    }
        div#img_cancel {
        width: auto;
        height: auto;
        border: solid 1px #875a5a;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #5df35da6;
        border-radius: 3px;
        font-size: 4vw;
        padding: 2vw 4vw;
    }
    .img_send {
        width: auto;
        height: auto;
        border: solid 1px #875a5a;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #8181e9;
        border-radius: 3px;
        font-size: 4vw;
        padding: 2vw 4vw;
    }
    .logs_img {
        height: auto;
        max-width: 70vw;
        padding: 0.3vw;
        box-sizing: border-box;
    }
    .dummy_chid {
        display: none;
    }
    #side_bar {
        width: 15vw !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: column;
        width:15vw;
    }
    .ads {
        width: 10vw;
        height: 10vw;
        border: solid 1px black;
        margin-bottom: 2vw;
    }
    span.info_time {
        font-size: 2vw;
    }
    .name {
        font-size: 3vw;
    }
    div#accordionExample {
        margin-bottom: 6vw;
    }
    /*-------------------------------
    *   storageLog.php
    -------------------------------*/
    div#container {
        margin-bottom: 8vw;
    }
    .storage_container {
        min-height: 70% !important;
    }
    #canvas{
        position: absolute;
        display: none;
    }
    /*--------------------------------
    *   enter途中入場系
    --------------------------------*/
    #enter {
        width: 100%;
        height: 100%;
    }
    /*--------------------------------
    *   snsリンク
    --------------------------------*/
    .log-sns{   
        margin-top: 3vw;
    }
}
@media screen and (min-width:1024px){
    #middle{
        height: auto !important;
    }
    div#main {
        display: flex;
        justify-content: space-between;
        flex-flow: column;
        align-items: flex-start;
    }
    textarea#insert_message {
        height: 85%;
        width: 70%;
        border-radius: 8px;
    }
    .humberger {
        height: 0.4vw;
        width: 0.5vw;
        font-size: 1.5vw;
    }
    div#option_box {
        width: 3vw;
        height: 3vw;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: column;
        margin-right: 1vw;
    }
    #send_message {
        width: 957px;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0;
        margin: 0px auto;
        background-color: #a7a7a7ff;
    }
    #scrollButton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3vw;
        height: 3vw;
        background-color: aqua;
        border-radius: 100%;
    }
    .scroll{
        font-size: 25px;
        color: #fff;
        position: absolute;
        width: 25px;
        height: 25px;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        text-align: center;
    }
    div#scrollArea {
        position: absolute;
        right: 0px;
        bottom: 100%;
        margin: 0vw 2vw 1vw 0vw;
    }
    img.resetSubmit {
        width: 2vw;
        height: 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        margin-left: 1vw;
        position: relative;
        top: 0.4vw;
    }
    img#img_box {
        width: 2vw;
        height: 2vw;
        position: relative;
        top: 0.8vw;
    }
    div#option_list {
        position: absolute;
        bottom: 5vw;
        width: 7vw;
        height: 8vw;
        /* border: solid 1px black; */
        box-shadow: 0.5vw 0.5vw #00000059;
        background-color: #bba1eb;
        border-radius: 5px;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
            visibility: hidden;
    }       
    span.parts_class {
        width: 100%;
        height: 1.5vw;
        margin-left: 0.5vw;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    img.list_parts {
        width: 1.5vw;
        height: 1.5vw;
        margin-right: 9px;
        /* FONT-VARIANT: JIS83; */
        display: block;
    }
    ul#logs_area {
        width: 957px;
        height: auto;
        margin: 0px;
        padding: 0vw;
        box-sizing: border-box;
        overflow-y: hidden;
        overflow-x: hidden;
        padding-bottom: 4vw;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
    }
    .separate-box {
        height: 7vw;
        width: 100%;
    }
    li.log {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 0vw 0vw 1vw 1vw;
        box-sizing: border-box;
    }
    .message_right {
        margin-right: 1vw;
        position: relative;
        top: 0.5vw;
        width: 3vw;
        height: 4vw;
    }
    img.icon {
        width: 3vw;
        height: 3vw;
        position: absolute;
        top: 0.6vw;
    }
    .message_container {
        background-color: #04ff046b;
        border-radius: 5px;
        padding: 5px;
    }
    .message:after{
        content: '';
        border: solid 100% 100% 0px 0px black;
        width: 2vw;
        height: 2vw;
    }
    #good_container {
        width: 4vw;
        height: 2vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(255, 166, 0, 0.72);
        padding: 0vw 1vw;
        border-radius: 7px;
        color: rgba(0, 0, 0, 0.78);
    }
    img.message_good {
        width: 1vw;
        height: 1vw;
        opacity: 0.78;
    }
    .iine_num {
        box-sizing: border-box;
        padding-top: 5px;
        width: auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 1vw;
        margin-left: 10px;
    }
    div#container {
        border-bottom: dotted 3px rgba(0, 0, 0, 0.18);
        width: 92%;
        min-height: 23vw;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2vw;
        padding: 2vw;
        box-sizing: border-box;
    }
    div#roomtitle {
        width: 100%;
        height: 5vw;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 1vw;
        position: relative;
        box-sizing: border-box;
    }
    div#second_stage {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 12vw;
    }
    .second_parts {
        width: auto;
        height: 100%;
        overflow-y: auto;
    }
    /*ここは縦横のアスペクト比をjsで検知して調整しなければならない*/
    img#roomImg {
        width: auto;
        height: 100%;
        max-width: 10vw;
    }
    #xtitle {
        width: 80%;
        height: 100%;
        font-size: 1.5vw;
        padding-left: 2vw;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        position: relative;
    }
    .message_left {
        max-width: 39vw;
        overflow-wrap: break-word;
    }
    div#exitArea {
        width: auto;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        /* margin-right: 3vw; */
    }

    a#exitButton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3vw;
        height: 100%;
        background-color: #5aaced;
        opacity: 0.7;
        border-radius: 5px;
    }
    #img_container {
        background-color: #ff7272;
        position: fixed;
        top: calc(50% - 15vw);
        left: calc(50% - 13vw);
        width: 26vw;
        height: 30vw;
        border-top-right-radius: 14px;
        border-top-left-radius: 14px;
        display: none;
        justify-content: flex-start;
        flex-flow: column;
        align-items: center;
    }
    img#img_top {
        width: 22vw;
        height: 15vw;
        margin: 1vw 0vw;
    }
    div#explanation {
        height: 12%;
        width: 100%;
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1vw;
        border-top-right-radius: 14px;
        border-top-left-radius: 14px;
    }
    input#file_img {
        display: none;
    }
    div#img_middle {
        width: 100%;
        height: 15vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        margin-top: 1vw;
        margin-bottom: 4vw;
        box-sizing: border-box;
        position: relative;
    }
    div#img_bottom {
        width: 100%;
        height: 5vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: 0px 4vw;
    }
    label#img_label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8vw;
        height: 2vw;
        background-color: #49daedba;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        position: absolute;
        top: 100%;
        right: 8%;
    }
    div#img_cancel{
        width: 5vw;
        height: 2vw;
        border: solid 1px #875a5a;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #5df35da6;
        border-radius: 3px;
        font-size: 0.7vw;
    }
    .img_send{
        width: 5vw;
        height: 2vw;
        border: solid 1px #875a5a;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #8181e9;
        border-radius: 3px;
        font-size: 0.7vw;
    }
    .logs_img {
        max-height: 13vw;
        width: auto;
        padding: 0.3vw;
        box-sizing: border-box;
    }
    .dummy_chid {
        display: none;
    }
    #side_bar {
        width: 15vw !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: column;
        height: auto;
    }
    
    #accordionExample {
        margin-bottom: 1vw;
    }
    /*----------------------------------------------------------------
    *   部屋情報系
    ----------------------------------------------------------------*/
    #category {
        font-size: 1vw;
    }
    #roomname {
        width: 100%;
        max-height: 5vw;
        line-break: strict;
        word-break: break-word;
        overflow: hidden;
    }
    #xtitle_bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        width: 100%;
        height: auto;
    }
    #consolation {
        width: 80%;
        padding: 1vw;
        box-sizing: border-box;
        background-color: #04ff046b;
        border-radius: 5px;
        word-break: break-word;
        overflow: hidden;
        height: 100%;
        overflow-y: scroll;
    }

    /*----------------------------------------------------------------
    *   サイドバー
    ----------------------------------------------------------------*/
    /*----------------------------------------------------------------
    *   画像投稿系
    ----------------------------------------------------------------*/
    #canvas{
        position: absolute;
        display:none;
    }
    /*----------------------------------------------------------------
    *   広告系
    ----------------------------------------------------------------*/
    .ads {
        width: 10vw;
        height: 10vw;
        border: solid 1px black;
        margin-bottom: 2vw;
    }
}